.LoaderButton .FaSpinner {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.LoaderButton {
  margin-right: 10px;
}

.LoaderButtondanger {
  margin-top: 8px;
  background-color: rgb(240, 104, 104);
  border-color: rgb(240, 104, 104);
}
